# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
.DS_Store

# ===============================
# PyTorch / Training Artifacts
# ===============================
# Model checkpoints (heavy)
checkpoints/*.pth
checkpoints/**/*.pth

# ===============================
# Generated Images & Outputs
# ===============================
samples/inference/


# ===============================
# Synthetic & Real Datasets
# (DO NOT push datasets to GitHub)
# ===============================
data/**

limited_dataset/
PlantVillage/
plantvillage_dataset/
*.zip

# ===============================
# Kaggle credentials
# ===============================
kaggle.json

# ===============================
# OS / Misc
# ===============================
Thumbs.db
*.log
*.tmp

# ===============================
# Streamlit cache
# ===============================
.streamlit/
